{% extends "./base.html" %} {% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Ruta</th>
            <th scope="col">Gasto</th>
        </tr>
    </thead>
    {% comment %} TODO: Filtrar por mes {% endcomment %}
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>
                {{ticket.created_date}}
            </td>
            <td>
                {{ticket.driver.bus_route.title}}
            </td>
            <td>
                {{ticket.ticket_price}}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>


{% endblock %}