{% extends "./base.html" %} {% block content %}
<!---->
<div>
    Balance: {{client.balance}}<!--Imprime el mono que esta en el balance del cliente/usuario-->
<!--Se crea el formulario -->
    <form method="POST" action="{%url 'digital_wallet' %}">
        {% csrf_token %}
        <label for="balance_to_add">Dinero a recargar</label><br><!--Imprime el Dinero a recargar -->
        <input type="text" id="balance_to_add" name="balance_to_add" value="0"><br><!--Se trabaja con el balance  y se agrega--->
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}