{% extends "./base.html" %} {% block content %}
<!---->
<div class ="col-md-4 col-md-offset-4">
    <div class= "text-center">
        <legend for="balance_to_add" class=" mb-4 border-bottom">Recharge money</legend><br> 
        <div class="mb-4 text-center">Balance: {{client.balance}}</div>
        <form method="POST" action="{%url 'digital_wallet' %}">
            {% csrf_token %}
            <input type="text" id="balance_to_add" name="balance_to_add" value="0" class= "mb-4 form-control"><br>
            <input class="btn btn-info" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}