{% extends "./base.html" %} {% block content %}
{% load crispy_forms_tags %}
<div>
    <legend class="border-bottom">Current balance:</legend>
    <h3>{{client.balance}} colones</h3>
    <br>
    <form method="POST"">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom">Add balance with card</legend>
            {{ form | crispy }}
            <label for="balance_to_add">Balance to add</label><br> 
            <input type="number" id="balance_to_add" name="balance_to_add" value="0" class= "mb-4 form-control"><br>
        </fieldset>
        <div class="form-group text-center">
            <button class="btn btn-info" type="submit">Pay</button>
        </div>
    </form>
</div>

{% endblock %}