{% extends "./base.html" %} {% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
</head>
<body>
    <div class=content-section>
        <div class="text-center">
            <div class="from-group mb-5" >
                    <h1>Bienvenido</h2>
            </div>
            <div class="tracking-in-expand">
                <h2>KISA</h1>
                <h2>Pago Digital para Buses</h1>
            </div>
         </div>   
    </div>
</body>

{% endblock %}