{% extends "./base.html" %} {% block content %}

<form class="text-center mb-5">
    <div class="form-group">
        <label for="province">Escoja el distrito</label>
    </div>
    <div class="form-group">
        <select id="routes">
            {% for district in district %}
                <option value="{{district}}">{{district}}</option>
            {%endfor%}
       </select>
    </div>
    <div class="form-group">
        <label for="province">Provincia</label>
    </div>
    <div class="form-group">
        <label for="route">Escoja su ruta:</label>
    </div>
    <div class="form-group">
        <select id="routes">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
       </select>
    </div>
    <button type="submit" class="btn btn-primary">Pagar</button>
</form>

{% endblock %}