<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document {% block title %} {% endblock %}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                {% block content %} {% endlock %}
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <ul id="submenu-1" class="collapse">
                    <!--perfil-->
                    <a href="#">Perfil</a>
                    <!--monedero-->
                    <a href="#">Monedero electronico</a>
                    <!--reportes-->
                    <a href="#">Reportes</a>
                    <!--cerrar sesion-->
                    <a href="#">Cerrar sesion</a>
                </ul>
        </div>
    </div>
</body>

</html>